<ons-page ng-controller="branchesController" ng-init="pullMarkersContent()">
  <ons-toolbar>
    <div class="left"> 
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">All {{title}}</div>
    <div class="right" ng-show="isFetching">
      <ons-toolbar-button><ons-icon icon="ion-loading-c" fixed-width="false" ></ons-icon></ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div  class="map-fullscreen-container" >
    <map zoom="18" center="{{ centerMap }}" class="fullscreen" zoom-control-options="{position:'RIGHT_TOP'}">
      
      <info-window id="marker-info">
        <div>
          <strong class="markerTitle">{{ infoWindow.title }}</strong>
          <div class="markerContent">
            <p>{{ infoWindow.content }}</p>
            <ul>              
              <!--<li><span class="ion-ios7-location"></span><p>{{ infoWindow.address }}</p></li>
              <li><span class="ion-android-clock"></span><p>{{ infoWindow.hours }}</p></li>
              <li><span class="ion-ios7-telephone"></span><p>{{ infoWindow.phone }}</p></li>
               if you want to show miles instead of KM remove the line above and replace it with this -->
              <!-- <li><span class="ion-model-s"></span><p>{{ infoWindow.distance | showMiles }} miles away</p></li>  -->
              <li><span class="ion-model-s"></span><p>{{ infoWindow.distance }} km away</p></li>
            </ul>
            <a class="button get-directions" data-marker="{{ infoWindow.id }}" ng-click="showMap(marker.location[0],marker.location[1])">Get Directions</a>
          </div>
        </div>
      </info-window>

      <marker ng-repeat="(id, marker) in markers" id="{{ id }}" 
        position="{{marker.location}}" 
        on-click="showMarker(event, $index)"
        icon="{{marker.icon}}">
      </marker>

    </map>
  </div>
    
   
</ons-page>