<ons-page>
            <ons-toolbar>
                <div class="right">
                    <ons-toolbar-button ng-click="appNavigator.pushPage('main-menu.html')">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">EMM Systems</div>
            </ons-toolbar>
            <ons-row align="center" style="height: 25%;">
                <ons-col class="right">
                    <img src="ehealth/ehealth.png" class="dashboard_logo" ng-click="appNavigator.pushPage('ehealth/signin.html')">
                </ons-col>
                <ons-col class="left">
                    <img src="indigent/indigent.png" class="dashboard_logo" ng-click="appNavigator.pushPage('indigent/signin.html')">
                </ons-col>
            </ons-row>
           <!-- <ons-row align="center" style="height: 25%;">
                <ons-col  class="right">
                    <img src="img/energy.jpg"  class="dashboard_logo">
                </ons-col>  
                <ons-col class="left">
                    <img src="img/cemetery.png"  class="dashboard_logo">
                </ons-col>
            </ons-row>
            <ons-row align="center" style="height: 25%;">
                <ons-col  class="right">
                    <img src="img/hr.png"  class="dashboard_logo">
                </ons-col>
                <ons-col class="left">
                    <img src="img/venus.png"  class="dashboard_logo">
                </ons-col>
            </ons-row>-->
        </ons-page>