
<ons-page ng-controller="poiController">
    <ons-toolbar>
        <div class="left"> 
      <ons-back-button>Back</ons-back-button>
    </div>
        <div class="center">Select POI</div>
    </ons-toolbar>
    <div class="app-page">

        <!-- settings with icons -->
        <div class="settings-header">Menu</div>
        <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron" ng-click="appNavigator.pushPage('userprofile.html');">
                <ons-icon icon="fa-user" size="20px"></ons-icon>
                Bars
                
            </ons-list-item>
            
             <ons-list-item modifier="chevron" ng-click="appNavigator.pushPage('talktocounsellor.html');">
                <ons-icon icon="fa-comment" size="20px"></ons-icon>
                Hospital
                
            </ons-list-item>
                
             <ons-list-item modifier="chevron" ng-click="appNavigator.pushPage('counsellor.html');">
                <ons-icon icon="fa-comment" size="20px"></ons-icon>
                Malls
                
            </ons-list-item>

        </ons-list>
        
    </div>
</ons-page>
