<ons-page ng-controller="indigentController" ng-init="showAssigmentDetails()">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Assignment</div>
        <div class="right">
            <ons-toolbar-button ng-click="loadAcceptDialog()">
                <ons-icon icon="md-star-outline">Accept</ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button>
                <ons-icon icon="md-edit">Decline</ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button>
                <ons-icon icon="md-more-vert"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-scroller style="height: 100%; width: 100%">
        <div class="app-page">
            <div class="app-page-photo">

                <p align="center">

                    <button class="button button-block button-linkedin" ng-click="loadLivingConditions()">
                        Living Conditions
                    </button>
                    <br>
                    <br>
                    <button class="button button-block button-linkedin" ng-click="appNavigator.pushPage('household.html')">
                         Household Members
                    </button>

                    <br>
                    <br>
                    <button class="button button-block button-linkedin" ng-click="appNavigator.pushPage('applicationSign.html')">
                         Signatures
                    </button>
                    <br>
                    <br>

                </p>


                <ons-list modifier="inset" style="margin-top: 10px" class="scrollme" ng-scrollbar is-bar-shown="true">
                    <ons-list-item>
                        <div class="app-open-desc">
                            <ons-icon icon="ion-android-home"></ons-icon>
                            Application Reference No <span class="label label-danger">{{assignment.indigentApplicationDetails.indigentApplicationHeader.applicationRefNo}}</span>
                        </div>
                    </ons-list-item>
                    <ons-list-item>
                        <div class="app-open-desc">
                            <ons-icon icon="ion-android-person"></ons-icon>
                            EMM Account Number <span class="label label-default">{{assignment.indigentApplicationDetails.indigentApplicationHeader.emmAccountNo}}</span>
                        </div>
                    </ons-list-item>
                    <ons-list-item>
                        <div class="app-open-desc">
                            <ons-icon icon="ion-android-person"></ons-icon>
                            Application Type <span class="label label-default">{{assignment.indigentApplicationDetails.indigentApplicationHeader.applicantKind}}</span>
                        </div>
                    </ons-list-item>
                    
                     <ons-list-item>
                        <div class="app-open-desc">
                            <ons-icon icon="ion-android-person"></ons-icon>
                            Indigent Application Type <span class="label label-default">{{assignment.indigentApplicationDetails.indigentApplicationHeader.applicationType}}</span>
                        </div>
                    </ons-list-item>
                    
                    <ons-list-item>
                        <div class="app-open-desc">
                            <ons-icon icon="ion-android-calendar"></ons-icon>
                            Application Date <span class="label label-default">{{assignment.indigentApplicationDetails.indigentApplicationHeader.applicationDate | date:'dd/MM/yyyy'}}</span>
                        </div>
                    </ons-list-item>
                    <ons-list-item>
                        <div class="app-open-desc">

                            Customer Care Area <span class="label label-default">{{assignment.indigentApplicationDetails.indigentApplicationHeader.applicationCCC}}</span>
                        </div>
                    </ons-list-item>
                    <ons-list-item>
                        <div class="app-open-desc">

                            ID Number <span class="label label-default">{{assignment.indigentApplicationDetails.householdDetail.personDetail.idNo}}</span>
                        </div>
                    </ons-list-item>
                    <ons-list-item>
                        <div class="app-open-desc">

                            Passport Number <span class="label label-default">{{assignment.indigentApplicationDetails.householdDetail.personDetail.passportNo}}</span>
                        </div>
                    </ons-list-item>


                    <ons-list-item>
                        <div class="app-open-desc">

                            Title <span class="label label-default">{{assignment.indigentApplicationDetails.householdDetail.personDetail.title}}</span>
                        </div>
                    </ons-list-item>
                    
                    <ons-list-item>
                        <div class="app-open-desc">

                            Initials <span class="label label-default">{{assignment.indigentApplicationDetails.householdDetail.personDetail.initials}}</span>
                        </div>
                    </ons-list-item>
                    
                    <ons-list-item>
                        <div class="app-open-desc">

                            First Name <span class="label label-default">{{assignment.indigentApplicationDetails.householdDetail.personDetail.firstNames}}</span>
                        </div>
                    </ons-list-item>
                    
                    <ons-list-item>
                        <div class="app-open-desc">

                            Last Name <span class="label label-default">{{assignment.indigentApplicationDetails.householdDetail.personDetail.surname}}</span>
                        </div>
                    </ons-list-item>
                    
                    <ons-list-item>
                        <div class="app-open-desc">

                            Gender <span class="label label-default">{{assignment.indigentApplicationDetails.householdDetail.personDetail.gender}}</span>
                        </div>
                    </ons-list-item>
                    
                    <ons-list-item>
                        <div class="app-open-desc">

                            Date of Birth <span class="label label-default">{{assignment.indigentApplicationDetails.householdDetail.personDetail.birthDate}}</span>
                        </div>
                    </ons-list-item>
                    
                    <ons-list-item>
                        <div class="app-open-desc">

                            Marital Status <span class="label label-default">{{assignment.indigentApplicationDetails.householdDetail.personDetail.maritalStatus}}</span>
                        </div>
                    </ons-list-item>


                </ons-list>
            </div>
        </div>
    </ons-scroller>


</ons-page>