
<ons-page ng-controller="indigentController">
    <ons-toolbar>
        
        
        <div class="right"><ons-toolbar-button ng-click="signIn()"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</ons-toolbar-button></div>
    </ons-toolbar>

 <br><br>
    <p align="center">
    
    <button class="button button-block button-google" ng-click="appNavigator.pushPage('indigent-mainmenu.html')">
                        
                        Assigments</button>
         <br><br>
     <button class="button button-block button-facebook" ng-click="appNavigator.pushPage('indigent-mainmenu.html')">
                        
                        Accepted</button>
         <br><br>
     <button class="button button-block button-twitter" ng-click="appNavigator.pushPage('indigent-mainmenu.html')">
                        
                        Declined</button>
        
           <br><br>
     <button class="button button-block button-linkedin" ng-click="appNavigator.pushPage('indigent-mainmenu.html')">
                        
                        Rejected</button>
    <br><br> 
        
    <button class="button button-block button-linkedin" ng-click="appNavigator.pushPage('indigent-mainmenu.html')">
                        
                        Closed</button>
    <br><br> 

  </p>
    
</ons-page>
